@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic favicon fallback color */
:root { color-scheme: light; }

html, body {
  height: 100%;
}

.gradient {
  background-image: radial-gradient(1000px 400px at 50% -10%, rgba(59,130,246,0.15), transparent),
                    radial-gradient(600px 300px at 100% 0%, rgba(99,102,241,0.2), transparent);
}
